body {
  /* default values for the body */
  background-image: url("../images/backdrop.png"); 
  /* in case background can not be loaded, set a background color */
  background-color: #777777;
}

#quizImage {
  width: 40%;
  height:auto;
}

#welcome {
  font-size: x-large;
  font-style: italic;
  color: white;
  text-align: center;
  align-content: center;
}

#header-text {
  font-size: 24px;
  color: white;
  text-align: justify;
  text-transform: capitalize;
  text-align: center;
}

#game-title {
  color: white;
  font-size: xx-large;
  text-align: center;
  text-transform: capitalize;
}

.question {
  /* Styles the question */
  /* display: none;  hidden by default. Will be turned on by start button */
  display: none;
  text-align: center;
  font-style: italic;
  font-size: x-large;
  border-width: 3px;
  border-style: solid;
  border-color: black;
  color: black;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 25px;
  background-color: gold;
}

#message {
  /* creates a border around the element, centers the text within it and makes the "box" centered. Invisible by default */
  display: none; 
  border-width: 3px;
  border-style: solid;
  border-color: black;
  color: black;
  text-align: center;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  font-size: x-large;
  border-radius: 25px;
  background-color: gold;
}

#option1 {
  border-width: 3px;
  border-style: solid;
  background-color:gold;
  color: black;
  cursor: pointer;
  width: 40%;
  margin-left: 10%;
  display: none;
  font-size: 24px;
}

#option2 {
  border-width: 3px;
  border-style: solid;
  background-color:gold;
  color: black;
  cursor: pointer;
  width: 40%;
  margin-right: 10%;
  display: none;
  font-size: 24px;
}

#option3 {
  border-width: 3px;
  border-style: solid;
  background-color:gold;
  color: black;
  cursor: pointer;
  width: 40%;
  margin-left: 10%;
  display: none;
  font-size: 24px;
}

#option4 {
  border-width: 3px;
  border-style: solid;
  background-color:gold;
  color: black;
  cursor: pointer;
  width: 40%;
  margin-right: 10%;
  display: none;
  font-size: 24px;
}

@media screen and (max-width: 720px) {
  #option1,#option2,#option3,#option4 {
    font-size: 18px;
  }
}

@media screen and (max-width: 640px) {
  #option1,#option2,#option3,#option4 {
    font-size: 16px;
  }
}

@media screen and (max-width: 320px) {
  #option1,#option2,#option3,#option4 {
    font-size: 12px;
  }
}

#score {
  /* display: none; invisible by default. Turns at start */
  display: none;
  text-align: center;
  color: black;
  border-width: 3px;
  border-style: solid;
  border-color: black;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  font-size: x-large;
  border-radius: 25px;
  background-color: gold;
}

.rcorners1 {
  border-radius: 25px;
  background: #73AD21;
  padding: 20px;
  padding-right: 20px;
  width: 200px;
  height: 150px;
}

.button-row {
  width: auto;
  height: auto;
  display: inline-block;
}

/* modal boilerplate code. The code was borrowed from:
 https://www.w3schools.com/howto/howto_css_modals.asp
 and adapted for my needs */

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  color: white;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */
  font-size: larger;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

/* end of model code */

.center-text {
  text-align: center;
}

#timer {
  /* is set to display none. Just to make it easy for js to just grab the number and display it in another string */
   display: none; 
}

.timer-font-color {
  color: white;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rcorners-logo {
  /* makes page logo circular(ish) */
  border-radius: 25px;
  padding: 20px;
}

#myBtnRules {
  background-color: #00FF00;
  border: solid;
  color: black;
  border-color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
  cursor: pointer;
  width: 30%;
  padding: 10px 32px;
}

#myBtnAbout {
  background-color: #00FF00;
  border: solid;
  color: black;
  border-color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
  cursor: pointer;
  width: 30%;
  margin-left: 10%;
  padding: 10px 32px;
}

#myBtnStart {
  background-color: #00FF00;
  border: solid;
  color: black;
  border-color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
  cursor: pointer;
  width: 30%;
  margin-right: 10%;
  padding: 10px 32px;
}

@media screen and (max-width: 720px) {
  #myBtnAbout,#myBtnRules,#myBtnStart {
    font-size: 12px;
  }
}

@media screen and (max-width: 640px) {
  #myBtnAbout,#myBtnRules,#myBtnStart {
    font-size: 8px;
  }
}

@media screen and (max-width: 320px) {
  #score, #message, #question {
    font-size:smaller;
  }
}

@media screen and (max-width: 640px) {
  #score, #message, #question {
    font-size:medium;
  }
}

@media screen and (max-width: 720px) {
  #score, #message, #question {
    font-size: large;
  }
}

#no-javascript {
  /* only used for the no-javascript p tag */
  color: black;
  text-align: center;
  font-size: xx-large;
}

#dbase {
  /* used for styling the "number of questions in database string */
  color: white;
  font-size: x-large;
}

.largest {
  /* used for styling the "header" in the about and rules modals without using h1. That is, for size only and not as a header */
  text-align: center;
  font-size: xx-large;
}

.larger {
  /* used for styling the "header" in the about and rules modals without using h2. That is, for size only and not as a header */
  text-align: center;
  font-size: x-large;
}