body {
  /* default values for the body */
  background-image: url("../images/backdrop.png");
  /* in case background can not be loaded, set a background color */
  background-color: #777777;
}

#quizImage {
  display: none;
  /* remember to change when game complete */
}

#welcome {
  font-size: xx-large;
  color: burlywood;
  text-align: center;
  align-content: center;
}

#header-text {
  font-size: 24px;
  color: white;
  text-align: justify;
  text-transform: capitalize;
  text-align: center;
}

#game-title {
  color: white;
  font-size: xx-large;
  text-align: center;
  text-transform: capitalize;
}

.question {
  /* Styles the question */
  /* display: none;  hidden by default. Will be turned on by start button */
  text-align: center;
  font-style: italic;
  font-size: xx-large;

  border-width: 3px;
  border-style: solid;
  border-color: black;
  color: black;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 25px;
  background-color: #00FF00;
}

#message {
  /* creates a border around the element, centers the text within it and makes the "box" centered. Invisible by default */
  /* display: none; */
  border-width: 3px;
  border-style: solid;
  border-color: black;
  color: black;
  text-align: center;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  font-size: x-large;
  border-radius: 25px;
  background-color: #00FF00;
}

#option1,
#option2,
#option3,
#option4 {
  border-width: 3px;
  border-style: solid;
  background-color: #00FF00;
  color: black;
  /* display: none; */
}

#score {
  /* display: none; invisible by default. Turns at start */
  text-align: center;
  color: black;
  font-weight: bold;
  border-width: 3px;
  border-style: solid;
  border-color: black;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  font-size: x-large;
  border-radius: 25px;
  background-color: red;
}

.rcorners1 {
  border-radius: 25px;
  background: #73AD21;
  padding: 20px;
  padding-right: 20px;
  width: 200px;
  height: 150px;
  font-size: x-large;
}

.button-row {
  width: auto;
  height: auto;
  display: inline-block;
}

/* modal boilerplate code. The code was borrowed from:
 https://www.w3schools.com/howto/howto_css_modals.asp
 and adapted for my needs */

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  color: white;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */
  font-size: larger;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

/* end of model code */

.center-text {
  text-align: center;
}

#timer {
  /* is set to display none. Just to make it easy for js to just grab the number and display it in another string */
   display: none; 
}

.timer-font-color {
  color: white;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rcorners-logo {
  /* makes page logo circular(ish) */
  border-radius: 25px;
  padding: 20px;
}

#myBtn,
#myBtn2,
#myStart {
  background-color: #4CAF50;
  /* Green */
  border: solid;
  color: black;
  border-color: red;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
}