body {
    /* default values for the body */
    background-color: #777777;
  }

  #welcome {
    font-size: xx-large;
    color: burlywood;
    text-align: center;
    align-content: center;
  }

  #header-text {
    font-size: 24px;
    color:white;
    text-align: justify;
    text-transform: capitalize;
    text-align: center;
  }

  #game-title {
    color:white;
    font-size: xx-large;
    text-align: center;
    text-transform: capitalize;
  }

  .table-center {
    /* make sure tables are centered */
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
  
  table td {
    /* Remove double borders on tables */
    border-collapse: collapse;
    text-align: center;
  }

  .question {
    /* creates a border around the element, centers the text within it and makes the "box" centered */
    border-width:3px; 
    border-style:solid; 
    border-color:#FF0000;
    text-align: center;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: xx-large;
  }

  #message {
    /* creates a border around the element, centers the text within it and makes the "box" centered */
    border-width:3px; 
    border-style:solid; 
    border-color:#FF0000;
    text-align: center;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: x-large;
  }

  #option1,
  #option2,
  #option3,
  #option4 {
    border-width:3px; 
    border-style:solid; 
    border-color:#FF0000;
    background-color: #00FF00;
    color: black;
  }

  #score {
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: larger;
  }
